In [1]:
import pandas as pd

## Update data destination for synchronize with the field on table database

In [8]:
destination = pd.read_csv('destination.csv')

In [4]:
destination.head(2)

,id,name_wisata,description_wisata,category,destination_photo,city,price,rating,time_minutes,coordinate,destination_lat,destination_long
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,NaN,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.17539,106.8272
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,NaN,Jakarta,5000,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.13764,106.8171

In [5]:
for index, row in destination.iterrows():
    destination.loc[index, 'destination_photo'] = "lala.png"

In [7]:
# Menyimpan DataFrame ke file CSV
destination.to_csv('destination.csv', index=False)