In [2]:
import pandas as pd
import ast

## Update data destination for synchronize with the field on table database

In [3]:
destination = pd.read_csv('destination.csv')

In [4]:
destination.head(2)

,id,name_wisata,description_wisata,category,destination_photo,city,price,rating,time_minutes,coordinate,destination_lat,destination_long
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,https://storage.googleapis.com/tourista_bucket...,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.17539,106.8272
1,2,Kota Tua,Kota tua di Jakarta yang juga bernama Kota Tua...,Budaya,https://storage.googleapis.com/tourista_bucket...,Jakarta,5000,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.13764,106.8171

In [4]:
# remove all except alphanumeric characters + space

destination['description_wisata'] = destination['description_wisata'].str.replace(r'[^a-zA-Z0-9\s]+', '', regex=True)

In [5]:
for index, row in destination.iterrows():
    destination.loc[index, 'destination_photo'] = "https://storage.googleapis.com/tourista_bucket/tourista_logo_large.png"

In [8]:
destination_part1 = destination[250:]

In [9]:
len(destination_part1)

187

In [10]:
# Menyimpan DataFrame ke file CSV
destination_part1.to_csv('./integration_to_db/destination_part2.csv', index=False)

## Update data Hotels

In [2]:
hotels = pd.read_csv('Hotels_Jakarta.csv')

In [3]:
hotels.head()

,Name,Rating,Address,Location
0,ASTON Priority Simatupang Hotel & Conference C...,4.7,"No.Kav. 9, Jl. Let. Jend Jl. TB Simatupang No....","{'lat': -6.3012799, 'lng': 106.8346244}"
1,Hotel Indonesia Kempinski Jakarta,4.7,"Jl. M.H. Thamrin No.1, RT.1/RW.5, Menteng, Kec...","{'lat': -6.1956129, 'lng': 106.8223572}"
2,Urbanest Inn House TB Simatupang,4.5,"Jl. Villa Jatipadang No.52, Jati Padang, Ps. M...","{'lat': -6.296992299999999, 'lng': 106.8322593}"
3,The London Living Kebagusan City,4.3,Apartemen Kebagusan City Tower C KC 06 Jalan B...,"{'lat': -6.306017199999999, 'lng': 106.8359636}"
4,Cove Ostin,4.9,"Jl. TB Simatupang No.15A, RT.11/RW.4, Tj. Bar....","{'lat': -6.3039579, 'lng': 106.843251}"

In [4]:
hotels = hotels.rename(columns={'Name' : 'name_penginapan'})

In [6]:
hotels

,name_penginapan,Rating,Address,Location
0,ASTON Priority Simatupang Hotel & Conference C...,4.7,"No.Kav. 9, Jl. Let. Jend Jl. TB Simatupang No....","{'lat': -6.3012799, 'lng': 106.8346244}"
1,Hotel Indonesia Kempinski Jakarta,4.7,"Jl. M.H. Thamrin No.1, RT.1/RW.5, Menteng, Kec...","{'lat': -6.1956129, 'lng': 106.8223572}"
2,Urbanest Inn House TB Simatupang,4.5,"Jl. Villa Jatipadang No.52, Jati Padang, Ps. M...","{'lat': -6.296992299999999, 'lng': 106.8322593}"
3,The London Living Kebagusan City,4.3,Apartemen Kebagusan City Tower C KC 06 Jalan B...,"{'lat': -6.306017199999999, 'lng': 106.8359636}"
4,Cove Ostin,4.9,"Jl. TB Simatupang No.15A, RT.11/RW.4, Tj. Bar....","{'lat': -6.3039579, 'lng': 106.843251}"
...,...,...,...,...
295,KOST EXCLUSIVE BARKAH,4.1,"Jl. Raya Tengah No.1, RT.5/RW.12, Gedong, Kec....","{'lat': -6.299087, 'lng': 106.8594934}"
296,Nur Residence,4.7,"Jl. Pertanian III No.56, RT.14/RW.5, Ps. Mingg...","{'lat': -6.287287, 'lng': 106.8412007}"
297,OYO Life 2958 Kost Lenteng Agung,4.3,"Jl. Raya Lenteng Agung No.40, RT.4/RW.1, Lente...","{'lat': -6.3099767, 'lng': 106.8371039}"
298,The Hatu Hotel,4.3,"Jl. Hang Tuah I No.2, RT.2/RW.4, Gunung, Kec. ...","{'lat': -6.2335783, 'lng': 106.7973048}"
299,JASMINE RESIDENCE 33,3.1,"Jl. Melati No.33, RT.6/RW.7, Ragunan, Ps. Ming...","{'lat': -6.304216299999999, 'lng': 106.8226384}"

In [10]:
 ast.literal_eval(hotels.Location[0])

"{'lat': -6.3012799, 'lng': 106.8346244}"

## Review wisata

In [11]:
ratings = pd.read_csv('./review_wisata.csv')

In [14]:
destination.head(2)

,id,name_wisata,description_wisata,category,destination_photo,city,price,rating,time_minutes,coordinate,destination_lat,destination_long
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,https://storage.googleapis.com/tourista_bucket...,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.17539,106.8272
1,2,Kota Tua,Kota tua di Jakarta yang juga bernama Kota Tua...,Budaya,https://storage.googleapis.com/tourista_bucket...,Jakarta,5000,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.13764,106.8171

In [16]:
destinationYK = destination.loc[destination['city'] == 'Yogyakarta']

In [19]:
destinationYK.head(2)

,id,name_wisata,description_wisata,category,destination_photo,city,price,rating,time_minutes,coordinate,destination_lat,destination_long
84,85,Taman Pintar Yogyakarta,Taman Pintar Yogyakarta bahasa Jawa Hanacaraka...,Taman Hiburan,https://storage.googleapis.com/tourista_bucket...,Yogyakarta,6000,4.5,120.0,"{'lat': -7.800671500000001, 'lng': 110.3676551}",-7.80067,110.3677
85,86,Keraton Yogyakarta,Keraton Ngayogyakarta Hadiningrat atau Keraton...,Budaya,https://storage.googleapis.com/tourista_bucket...,Yogyakarta,15000,4.6,NaN,"{'lat': -7.8052845, 'lng': 110.3642031}",-7.80528,110.3642

In [20]:
destinationYK = destinationYK.rename(columns={'id' : 'wisata_id'})

In [18]:
len(destinationYK)

126

In [22]:
destinationYK = destinationYK[['wisata_id', 'name_wisata']]

In [23]:
destinationYK.head(2)

    wisata_id              name_wisata
84         85  Taman Pintar Yogyakarta
85         86       Keraton Yogyakarta

In [15]:
ratings.head()

   user_wisata  wisata_id  wisata_rating
0            1        179              3
1            1        344              2
2            1          5              5
3            1        373              3
4            1        101              4

In [24]:
merge_ratings = destinationYK.merge(ratings, on='wisata_id')

In [27]:
merge_ratings = merge_ratings.drop(['name_wisata'], axis=1)

In [28]:
merge_ratings

      wisata_id  user_wisata  wisata_rating
0            85            2              4
1            85           23              4
2            85           25              2
3            85           39              5
4            85           43              4
...         ...          ...            ...
2866        210          266              5
2867        210          279              3
2868        210          286              3
2869        210          287              5
2870        210          290              5

[2871 rows x 3 columns]

In [30]:
# Menyimpan DataFrame ke file CSV
merge_ratings.to_csv('./integration_to_db/merge_ratings.csv', index=False)